#newsBody {
  background-image: url("../img/blue-back.jpg");
  background-size: cover;
}

.newsImg {
  width: 250px;
}

#latestTitle {
  font-family: Oxygen;
  font-weight: bold;
  color: white;
  font-size: 1.8rem;
  margin: 20px 0;
}

.newsTitle {
  font-family: Oxygen;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

a.newsTitle:hover {
  color: rgb(205, 205, 205);
}

.newsDiv {
  padding: 20px 50px !important;
}

#moreNews {
  font-family: Oxygen;
  color: white;
  font-size: 1rem;
  margin-bottom: 20px;
  padding-right: 50px;
  text-align: right;
  text-decoration: none;
}

a#moreNews:hover {
  color: rgb(205, 205, 205);
}

#playerBack {
  background-image: url("../img/yellow-back.jpg");
  background-size: cover;
}

#playerBody {
  padding: 0 90px 20px;
}

#playerTitle {
  font-family: Oxygen;
  font-weight: bold;
  color: black;
  font-size: 1.8rem;
  margin: 20px 0;
  text-align: center !important;
}

.blackBac-girl {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-rows: 1fr;
  background-color: black;
  border-radius: 10px;
  align-items: center;
  border: solid #ffef00 3px;
}

.blackBac-boy {
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-rows: 1fr;
  background-color: black;
  border-radius: 10px;
  align-items: center;
  border: solid #ffef00 3px;

}

.playerTxt {
  font-family: Libre Franklin;
  color: white;
  text-align: justify;
  padding: 10px;
  font-size: 0.9rem;
}

.avatar {
  border-radius: 50%;
  width: 120px;
  margin: 15px;
}

.star {
  height: 90px;
  margin-top: -200px;
}







* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

































/* media Query */
@media only screen and (max-width: 1399px) {
  .star {
    margin-top: -280px;
  }
}

@media only screen and (max-width: 1199px) {
  .blackBac-girl {
    margin-bottom: 20px;
  }
  .star {
    margin-top: -100px;
  }
}

@media only screen and (max-width: 991px) {
  .star {
    margin-top: -180px;
  }
}

@media only screen and (max-width: 767px) {
  .blackBac-boy,
  .blackBac-girl {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    height: auto;
  }
  .star {
    margin: 0;
    margin-bottom: 15px;
  }
  #avatarGirl {
    grid-area: 1 / 1 !important;
  }
  #txtGirl {
    grid-area: 2 / 1 !important;
  }
  #starGirl {
    grid-area: 3 / 1 !important;
  }
  .playerTxt {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 575px) {
  #playerBody {
    padding: 0;
  }
  .blackBac-boy,
  .blackBac-girl {
    border-radius: 0;
    max-width: max-content !important;
    margin: 0;
    border: none;
  }
}
