#headerBack {
  font-family: ubuntu;
  height: 80px;
  background-color: #0054a3;
  color: white;
  font-size: 3rem;
}

#logo {
  width: 140px;
  margin-top: 35px;
}

#headerBack {
  position: relative;
  z-index: 1;
}

.abbott-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
  background: none;
  margin-left: 70px;
}

.nav-link {
  color: white !important;
  font-family: Oxygen !important;
  text-shadow: 1px 1px 1px black;
  font-size: 1.2rem;
}

#abbott-carousel {
  margin-top: -100px;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#footerBack {
  background-color: #ffef00;
  height: 110px;
  padding: 15px 100px 0 0;
}

.row {
  text-align: center;
}

#footLogo {
  width: 110px;
}

.footLink {
  color: black;
  text-decoration: none;
  font-family: Libre + Franklin;
}

.socialContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.socialIcon {
  width: 40px;
  padding-top: 10px;
}

@media only screen and (max-width: 767px) {
  #siteTitle {
    font-size: 2.2rem;
    padding-top: 10px;
  }
}

/* @media only screen and (max-width: 555px) {
  #siteTitle {
    font-size: 1.8rem;
    padding-top: 10px;
  }
} */

@media only screen and (max-width: 575px) {
  #siteTitle {
    font-size: 1.6rem;
    padding-top: 18px;
  }
  #logo {
    width: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .abbott-nav {
    background-color: white;
    width: 150px;
    opacity: 50%;
    border-radius: 10px;
  }

  .nav-link {
    color: black !important;
    font-family: Oxygen !important;
    text-shadow: none;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 680px) {
  #logo {
    width: 100px;
  }
}

@media only screen and (max-width: 1200px) {
  .socialIcon {
    width: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .socialIcon {
    padding: 3px;
  }
}

@media only screen and (max-width: 767px) {
  #footerBack {
    height: fit-content;
  }
}

@media only screen and (max-width: 603px) {
  .footLink {
    font-size: 0.8rem;
  }
  #footLogo {
    width: 80px;
  }
}
