.card {
    margin: 20px 0;
}

.card-text {
    text-align: left;
    align-items: center;
    justify-content: center;
}
.signup-box {
    text-align: center;
    align-items: center;
    justify-content: center;

}

.flex-container {
    align-items: center;
    justify-content: center;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .btn1 {
      background-color: #ffef00;
  }

  .box-pad {
      padding: 2rem;
  }

  .img-pad {
    padding: 2rem 1.5rem 1.5rem 0rem;
}

  .imgfloat {
    float: none;
  }

  .emailBox {
    padding: 5px 0px;
  }
  .float-left {
    float: left;
  }